{% extends "layout.html" %}

{% block title %}
Vacations Agency | Vacations
{% endblock title %}

{% block content %}

<h1>Vacations</h1>
<hr>

{% for v in vacations %}
<div class="vacation-card">
    <img class="vacation-image" src="{{url_for('vacations_view.get_image', image_name=v.image if v.image else '---')}}">
        <h2 class="country-name">
            <img src="{{ url_for('static', filename='images/flags/' + v.country_name | lower + '.png') }}" class="flag-icon-card">
            {{v.country_name}}            
        </h2>
        <a class="edit-button" href="{{url_for('vacations_view.edit', id = v.vacation_id)}}">✏️edit</a>
        <a onclick="confirmDelete()" class="delete-button" href="{{url_for('vacations_view.delete', id = v.vacation_id)}}">🗑️delete</a>
    <div class="vacation-date">📅 {{v.start_date}} - {{v.end_date}}</div>
    <div class="vacation-description">{{v.description}}</div>
    <div class="vacation-price">{{v.price}} $</div>
</div>
{% endfor %}

{% endblock content %}