<div>
    {% if user %}
    <span>
        Hi, {{ user.first_name }} {{ user.last_name }}!
    </span>
    <span>
        |
    </span>
    <a href="{{url_for('auth_view.logout')}}">Log out</a>
    {% else %}
        <span>
            Hello, guest!
        </span>
        <span>
            |
        </span>
        <a href="{{url_for('auth_view.login')}}">Log in</a>
        <span>
            |
        </span>
        <a href="{{url_for('auth_view.register')}}">Register</a>
    {% endif %}
</div>