.About img {
	width: 30px;
    border: 0px;
    border-radius: 5px;
}

.image2 {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid darkblue;
}

h2{
    color: darkblue;
    text-decoration: underline;
}
